.root {
    position: relative;
    width: 300px;
    height: 30px;
    margin-bottom: 50px;
    display: block;
}

.input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

.root span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
}

.input:focus ~ span, .input:valid ~ span {
    transform: translateX(-13px) translateY(-35px);
    font-size: 1em;
}
